
body {background-color:darkgreen;}
h1 {font-family:monospace;
   font-style:italic;
    text-align:center;
    font-size:35px;
}
   h2 { font-style: italic;
       font-size:25px;
   }
   #carr{ position:relative;left:100px;}
   #school{width:350px;
   position:relative;left:100px;
       border-style:groove;
       border-color:black;
   }
   h3 {text-align:center;
   font-style:italic;
   font-size:25px;}
   h4{ font-style:italic;
   font-size:25px;}
   h5{font-style:italic;
       font-size:25px;
   }
h6{font-size:25px;}
li{font-size:20px;
